# Arquivos de ambiente - NUNCA envie para o Git
.env
*.env

# Artefatos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pasta de ambiente virtual
venv/
.venv/
env/
.env/

# Dados do Docker
# Ignora a pasta de dados do banco de dados se ela for criada localmente
db_data/

# Arquivos específicos de IDEs
.vscode/
.idea/
